[submodule "AALife_Engine/vendor/spdlog"]
	path = AALife_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AALife_Engine/vendor/GLFW"]
	path = AALife_Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw/
[submodule "AALife_Engine/vendor/imgui"]
	path = AALife_Engine/vendor/imgui
	url = https://github.com/ocornut/imgui
