[submodule "AALife_Engine/vendor/spdlog"]
	path = AALife_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
    branch = v1.x
[submodule "AALife_Engine/vendor/GLFW"]
	path = AALife_Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw/
    branch = master
[submodule "AALife_Engine/vendor/glm"]
	path = AALife_Engine/vendor/glm
	url = https://github.com/g-truc/glm
    branch = master
[submodule "AALife_Engine/vendor/imgui"]
	path = AALife_Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
    branch = docking
